html,
body {
  width: 100%;
	height: 100%;
	line-height: 1.5;
	background-color: #fff;
	color: #353535;
	font-size: 14px;
	padding: 0;
	margin: 0!important;
	letter-spacing: 0.08em;
	scroll-behavior: smooth;
	font-family: "Open Sans", Raleway;
}

.headliner {
	max-height: 100px;
	padding: 20px;
	overflow: hidden;
}

.headliner .site-logo {
	width: 50%;
}

.headliner ul.social-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.headliner ul.social-links li {
	display: inline-block;
	padding: 0;
}

.headliner ul.social-links li a {
	display: block;
	width: 100%;
	text-decoration: none;
	text-align: center;
	color:#353535;
}

.headliner ul.social-links li a:hover {
	color: #0369a7;
}

.main-nav-menu {
	width: 100%;
	background-color:#0369a7;
	color: #fff;
	height: 50px;
	display: block;
	margin: 0;
}
.main-nav-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-nav-menu ul li {
	display: inline-block;
	padding: 0;
}

.main-nav-menu ul li:hover {
	background-color: #353535;
	font-weight: bold;
	transition: .4s;
}

.main-nav-menu ul li a {
	display: block;
	width: 100%;
	text-decoration: none;
	text-align: center;
	color:#fff;
	padding: 15px;
	padding-left: 23px;
	padding-right: 23px;
	max-height: 50px;
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	color: gray;
	background: #E6E6E6;
}

.footer .footer-links {
	list-style-type: none;
}

.footer .footer-links li {
	display: inline-block;
}

.footer .footer-links li::after {
	content: '|';
	color: gray;
	margin: 10px;
}
.footer .footer-links li a {
	text-decoration: none;
	color: gray;
}

.footer .footer-links li:last-child::after {
	content: '';
}